// Mixins

=outer-padding
    padding: 20px

=header-padding
    margin: 0

=sidebar-module
    margin-bottom: 20px

$horizontal_offset: 0
$vertical_offset: 1px
$blur_radius: 2px
$spread_radius: 0
$shadow_color: rgba( 0, 0, 0, .2)
=shadow($h: $horizontal_offset, $v: $vertical_offset, $c: $shadow_color, $b: $blur_radius, $s: $spread_radius)
    $value: $h $v $b $s $c
    -moz-box-shadow: $value
    -webkit-box-shadow: $value
    -o-box-shadow: $value
    box-shadow: $value

// Bootstrap Accordion Overrides

.accordion
    margin: 0
    
.accordion-heading .accordion-toggle
    padding: 0
    margin-top: 5px

.accordion-inner
    margin-top: 5px

.accordion-group
    border: 0

.progress
    border-radius: 0
    -ms-border-radius: 0
    -moz-border-radius: 0
    -webkit-border-radius: 0
    -khtml-border-radius: 0
    
// Sidebar Container
    
#project-sidebar
    margin-bottom: 40px

    h3,
    h4
        margin: 0 0 10px 0
    
    a
        color: #666

#sidebar-header
    .project-social
        width: 10%
        float: right
        display: inline-block
        button
            width: 100%
            padding: 0px
            margin: 0px
            border: 0px
            font-size: 7pt

// Current Goal

#current-goal-progress-bar
    height: 35px
    margin: 0px 2px

    .bar
        padding-top: 8px
        background-color: red
        background-image: none

        .bar-text
            min-width: 160px
            color: #000000

#current-goal
    background-color: black
    color: white
    +outer-padding
    +shadow
    
    h4
        color: yellow

    .current-goal-more-info
        a
            float: right
        .current-goal-more-info-inline
            width: 100%
            height: 0px
            overflow: hidden

    .current-goal-raised

        .raised-amount
            font-size: 20pt
            color: #E39600
        .raised-of-goal
            font-size: 8pt
            color: #333
        .goal-amount
            font-size: 16pt
            color: #BA2700

    .current-goal-met-date
        font-size: 9pt
        color: #333

    .current-goal-boxes
        text-align: center

        .current-goal-box
            display: inline-block
            width: 30%
            height: 60px
            border: 1px solid black
            border-radius: 2px

            .box-count
                font-size: 14pt
                margin-top: 12px

            .current-goal-box-subtext
                font-size: 9pt

#back-project
    text-align: center

    #back-project-btn
        margin: 4px

// Donation Tiers

#tiers
    background: yellow
    +sidebar-module
    +outer-padding
    +shadow

    .tier-name, .tier-limits
        text-decoration: none
        display: block

    .tier-name
        font-size: 16px

    .tier-limits
        font-size: 10pt

// Next Steps

#next-steps
    background: orange
    +sidebar-module
    +outer-padding
    +shadow
    
    .next-step-summary, .next-step-num-votes
        text-decoration: none

    .next-step-summary
        font-size: 11pt

    .next-step-num-votes
        font-size: 9pt

// Goals Met

#completed-goals
    background: #E3E3E1
    +sidebar-module
    +outer-padding
    +shadow

// Future Goal

#future-goal-container
    background: black
    +outer-padding
    +shadow
    
    h4, a, #future-goal-description
        color: #ffffff
    
#add-tier, #add-next-step
    padding: 0px 3px
    float: right
    position: relative
    top: -30px
    left: -2px


/* Width-specific settings for the sidebar */

@media (max-width: 479px) /* Mobile */

@media (min-width: 480px) and (max-width: 767px) /* Tablet */

@media (min-width: 768px) and (max-width: 979px) /* Narrow Desktop */
    #sidebar-header
        .project-name
            width: 79%
        .project-social
            width: 15%

@media (min-width: 980px) and (max-width: 1199px) /* Desktop */
    #sidebar-header
        .project-name
            width: 79%
        .project-social
            width: 15%

@media (min-width: 1200px) /* Wide-screen Desktop */
